.title{
    font-size: 200%;
    color: red;
    text-decoration: underline;
    align-self: center;
    font-weight: bold;
}
.int{
    font-size: 200%;
    font-weight: bold;
}

.red{
    color: red;
}

.green{
    color:lightgreen;
}

.codecss{

}



/*.meuPadrao{
	font-style: italic;
	font-weight: bold;

}


.green{
	background-color: green;
	color: yellow;
}

.red{
	background-color: red;
	color: yellow;
}
